# Problem Statement

A grocery store shared the transactional data with you. Your job is to conduct a thorough analysis of Point of Sale (POS) data, identify the most commonly occurring sets of items in the customer orders, and provide recommendations through which a grocery store can increase its revenue by popular combo offers & discounts for customers.

### Load Required Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# reading the CSV file into pandas dataframe
df = pd.read_csv("C:/Users/AKHIL MOHANDAS/Downloads/dataset_group.csv")

### Top Five Rows

In [3]:
df.head()

         Date  Order_id        Product
0  01-01-2018         1         yogurt
1  01-01-2018         1           pork
2  01-01-2018         1  sandwich bags
3  01-01-2018         1     lunch meat
4  01-01-2018         1   all- purpose

### Bottom Five Rows

In [4]:
df.tail()

             Date  Order_id            Product
20636  25-02-2020      1138               soda
20637  25-02-2020      1138       paper towels
20638  26-02-2020      1139               soda
20639  26-02-2020      1139  laundry detergent
20640  26-02-2020      1139            shampoo

### Basic Dataframe Info

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

**Total of 3 variables present which include Date and Product as Object type and Order_id as numerical variable.**

### Shape of Data

In [6]:
print("no. of rows: ",df.shape[0], "\n""no. of columns: ",df.shape[1])

no. of rows:  20641
no. of columns:  3

### Statistical summary

In [7]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,20641,603,08-02-2019,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order_id,20641.0,NaN,NaN,NaN,575.986289,328.557078,1.0,292.0,581.0,862.0,1139.0
Product,20641,37,poultry,640,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [9]:
df.duplicated().sum()

4730